name: kiam-watchdog
namespace: kube-system
serviceType: managed

project:
  branch: "[[ .Branch ]]"
  commit: "[[ .SHA ]]"

image:
  registry: quay.io
  name: giantswarm/{APP-NAME}
  tag: v0.0.1
  pullPolicy: IfNotPresent

aws:
  region: "eu-west-1"

kiamWatchdog:
  namespace: "kube-system"
  labelSelector: "component=kiam-agent"
  failThreshold: 5
  interval: 60
