name: kiam-watchdog
namespace: kube-system
serviceType: managed

project:
  branch: "[[ .Branch ]]"
  commit: "[[ .SHA ]]"

image:
  registry: quay.io
  name: giantswarm/kiam-watchdog
  tag: latest
  pullPolicy: IfNotPresent

aws:
  region: "eu-west-1"

kiamWatchdog:
  namespace: "kube-system"
  labelSelector: "component=kiam-agent"
  failThreshold: 5
  interval: 60

# clusterID
# The cluster's ID. It is dynamically set and will be overridden. Specific
# to Giant Swarm clusters.
clusterID: en2jo
