version: 2.1

orbs:
  architect: giantswarm/architect@2.11.0

workflows:
  build:
    jobs:
      - architect/go-build:
          name: build-kiam-watchdog
          binary: kiam-watchdog
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          context: architect
          name: push-kiam-watchdog-to-docker
          image: "quay.io/giantswarm/kiam-watchdog"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          requires:
            - build-kiam-watchdog
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          context: architect
          name: push-kiam-watchdog-to-default-app-catalog
          app_catalog: "giantswarm-playground-catalog"
          app_catalog_test: "giantswarm-playground-test-catalog"
          chart: "kiam-watchdog-app"
          requires:
            - push-kiam-watchdog-to-docker
          filters:
            tags:
              only: /^v.*/
