version: 2.1

orbs:
  architect: giantswarm/architect@4.15.0

workflows:
  build:
    jobs:
      - architect/go-build:
          name: build-kiam-watchdog
          binary: kiam-watchdog
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          context: architect
          name: push-kiam-watchdog-to-docker
          image: "quay.io/giantswarm/kiam-watchdog"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          requires:
            - build-kiam-watchdog
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          name: push-to-aliyun
          image: "giantswarm-registry.cn-shanghai.cr.aliyuncs.com/giantswarm/kiam-watchdog"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          requires:
            - build-kiam-watchdog
          filters:
            branches:
              only: master
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          context: architect
          name: push-kiam-watchdog-to-default-app-catalog
          app_catalog: "default-catalog"
          app_catalog_test: "default-test-catalog"
          chart: "kiam-watchdog-app"
          requires:
            - push-kiam-watchdog-to-docker
          filters:
            tags:
              only: /^v.*/
