apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "resource.default.name"  . }}
  namespace: {{ include "resource.default.namespace"  . }}
  labels:
    {{- include "labels.common" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "labels.selector" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "labels.common" . | nindent 8 }}
      annotations:
        iam.amazonaws.com/role: "{{ template "aws.iam.role" . }}"
    spec:
      serviceAccountName: {{ include "resource.default.name"  . }}
      nodeSelector:
        node.kubernetes.io/worker: ""
      tolerations:
        # Make sure kiam agent gets scheduled on all worker nodes. Ignoring all taints.
        - effect: NoSchedule
          operator: Exists
        # Mark the pod as a critical add-on for rescheduling.
        - key: CriticalAddonsOnly
          operator: Exists
        - effect: NoExecute
          operator: Exists
      initContainers:
      - name: wait-for-iam-role
        image: {{ .Values.image.registry }}/giantswarm/alpine:3.12.0
        command:
          - /bin/sh
          - -c
          - counter=5; while ! wget -qO- http://169.254.169.254/latest/meta-data/iam/security-credentials/ | grep {{ template "aws.iam.role" . }}; do echo 'Waiting for iam-role to be available...'; sleep 5; let "counter-=1"  ; if [ "$counter" -eq "0" ]; then exit 1; fi; done
      containers:
        - name: kiam-watchdog
          image: "{{ .Values.image.registry }}/{{ .Values.image.name }}:{{ .Values.image.tag }}"
          imagePullPolicy: IfNotPresent
          args:
          {{- if .Values.kiam.region }}
          - "--region={{ .Values.kiam.region }}"
          {{- end }}
          - "--fail-threshold={{ .Values.kiamWatchdog.failThreshold }}"
          - "--interval={{ .Values.kiamWatchdog.interval }}"
          - "--kiam-namespace={{ .Values.kiamWatchdog.namespace }}"
          - "--kiam-label-selector={{ .Values.kiamWatchdog.labelSelector }}"
          - "--node-name=$(K8S_NODE_NAME)"
          - "--probe-mode={{ .Values.kiamWatchdog.probeMode }}"
          - "--role={{ template "aws.iam.role" . }}"
          env:
            - name: K8S_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          resources:
            limits:
              cpu: 200m
              memory: 200Mi
            requests:
              cpu: 200m
              memory: 200Mi
